<!-- Componente ADVERTISEMENT de la página INICIO, aquí se muestra
un anuncio con un formulario de suscripcion --> 

<div class="advertisement">
    <!-- Imagen de fondo--> 
    <div class="window" style="background-image: url(img/clouds.png)">
        <button class="close">
            <i class="material-icons">close</i>
        </button>
        Quieres conocer todas las novedades del Festival?
        <!-- Formulario de subscripcion--> 
        <form action="mailto:ti-ta-tu@hotmail.com">
                <input type="text" name="email" placeholder="E-mail"/> 
                <input type="submit" value="Suscribirse"/>
        </form>
    </div>
</div>