<!-- Componente ENTRADAS de la página ENTRADAS, aquí se --> 
<div class="title-service">
    <h1></h1>
</div>
<div class="entradas">
    <div class="type">
        <div class="description">
            <h2><span class="price">7€</span>ENTRADA GENERAL 2 DIAS (Sábado y Domingo)</h2>
            <P>La entrada general incluye acceso a los espectáculos de títeres de los días 23 y 24 de Abril. 
                Permite la entrada al festival a todos los menores que vayan acompañados por un tutor.</P>
        </div>
        <div class="buttons">
            <div class="quantity">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>+</button>
            </div>
            <a class="buy" target="_blank" href="img/entradas.pdf">
                Comprar entrada
            </a>
        </div>
    </div>
    <div class="type">
        <div class="description">
            <h2><span class="price">5€</span>ENTRADA SÁBADO 23 ABRIL</h2>
            <P>Esta entrada incluye acceso únicamente a los espectáculos de títeres del día 23 de Abril. 
                Permite la entrada al festival a todos los menores que vayan acompañados por un tutor.</P>
        </div>
        <div class="buttons">
            <div class="quantity">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>+</button>
            </div>
            <a class="buy" target="_blank" href="img/entradas.pdf">
                Comprar entrada
            </a>
        </div>
    </div>
    <div class="type">
        <div class="description">
            <h2><span class="price">5€</span>ENTRADA DOMINGO 23 ABRIL</h2>
            <P>Esta entrada incluye acceso únicamente a los espectáculos de títeres del día 24 de Abril. 
                Permite la entrada al festival a todos los menores que vayan acompañados por un tutor.</P>
        </div>
        <div class="buttons">
                <div class="quantity">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>+</button>
                </div>
                <a class="buy" target="_blank" href="img/entradas.pdf">
                    Comprar entrada
                </a>
            </div>
        </div>
    </div>
</div>