<div class="title-service">
    <h1>COMPRAR ENTRADAS</h1>
</div>
<div class="entradas">
    <div class="type">
        <div class="description">
            <h2>ENTRADA GENERAL 2 DIAS (Sábado y Domingo)</h2>
            <P>La entrada general incluye acceso a los espectáculos de títeres de los días 23 y 24 de Abril. 
                Permite la entrada al festival a todos los menores que vayan acompañados por un tutor.</P>
        </div>
        <div class="botton">
            <div class="size">
                <div class="sizes">
                    <a>1</a>
                    <a>2</a>
                    <a>3</a>
                    <a>+</a>
                </div>
            </div>
            <div class="basket">
                <button class="buy">
                <h3>COMPRAR ENTRADA</h3>
            </div>
        </div>
    </div>
    <div class="type">
        <div class="description">
            <h2>ENTRADA SÁBADO 23 ABRIL</h2>
            <P>Esta entrada incluye acceso únicamente a los espectáculos de títeres del día 23 de Abril. 
                Permite la entrada al festival a todos los menores que vayan acompañados por un tutor.</P>
        </div>
        <div class="botton">
            <div class="size">
                <div class="sizes">
                    <a>1</a>
                    <a>2</a>
                    <a>3</a>
                    <a>+</a>
                </div>
            </div>
            <div class="basket">
                <button class="buy">
                <h3>COMPRAR ENTRADA</h3>
            </div>
        </div>
    </div>
    <div class="type">
        <div class="description">
            <h2>ENTRADA DOMINGO 23 ABRIL</h2>
            <P>Esta entrada incluye acceso únicamente a los espectáculos de títeres del día 24 de Abril. 
                Permite la entrada al festival a todos los menores que vayan acompañados por un tutor.</P>
        </div>
        <div class="botton">
            <div class="size">
                <div class="sizes">
                    <a>1</a>
                    <a>2</a>
                    <a>3</a>
                    <a>+</a>
                </div>
            </div>
            <div class="basket">
                <button class="buy">
                <h3>COMPRAR ENTRADA</h3>
            </div>
        </div>
    </div>
</div>