<!-- Componente ESPECTÁCULOS de la página ESPECTÁCULOS, aquí se encuentran todas las obras de teatro de 
títeres incluidas en la clase .espectaculos --> 

<!-- La clase .espectaculos contiene una clase .content que sería cada uno de los espectaculós--> 
<div class="espectaculos">
    <!-- La clase .content contiene una clase .image que sería la imagen del grupo de la obra
    y la clase .info que sería la información de la obra. La clase .content se repite hasta
    6 veces porque son 6 obras de teatro de títeres --> 
    <div class="content">
        <div class="image" style="background-image: url(/img/teatro6.jpg)">
            <div class="my-text">Edu Borja</div>
        </div>
        <div class="info">
            <h2>Cuentos</h2>
            <!-- La clase .b es para darle un estilo concreto solo a esas palabras--> 
            <p><span class="b">Edat</span> De 3 a 10</p>
            <p><span class="b">Idioma</span> Castellano</p>
            <p><span class="b">Durada</span> 55 minuts</p>
            <p><span class="b">Disciplina</span> Titelles planes</p>
            <p><span class="b">Sinopsi</span> El mago conseguidor, ayudado por Gasparcito a librarse de la pesada ratita caprichosa, le devolverá el favor.  Haciendo trampas, el diablo Pablo y la bruja Maruja hipnotizan al rey y se empeñan en matar al Dragón y en sacrificar a la princesa. Pero el valiente Gasparcito salvará a la princesa y comprobará que el Dragón no es tan feroz como decían.</p>
            <p><span class="b">Horario</span> Sábado 21 a las 12:30 h</p>
        </div>
    </div>
    <div class="content">
        <div class="image" style="background-image: url(/img/teatro4.jpg)">
            <!-- Para añadir un texto encima de una imagen--> 
            <div class="my-text">Edu Borja</div>
        </div>
        <div class="info">
            <h2>Animalitos</h2>
            <p><span class="b">Edad</span>  De 3 a 10 anys</p>
            <p><span class="b">Idioma</span> Castellano</p>
            <p><span class="b">Durada</span> 50 minutos</p>
            <p><span class="b">Disciplina</span> Títeres de guante</p>
            <p><span class="b">Sinopsi</span> Espectaculo de cuentos donde los animales son los protagonistas. Los títeres mostrarán a los más pequeños el gran parecido que los animalitos tienen a las personas. Historias llenas de valores humanos interpretadas con gran simpatía por personajes que se comportan como humanos y nos hacen identificarnos con ellos.
                Siluetas móviles, títeres de guante y marionetas de hilo harán las delícias de los niños, sus padres y maestros.
                </p>
            <p><span class="b">Horario</span> Sábado 21 a las 17:30 h</p>
        </div>
    </div>
    <div class="content">
        <div class="image" style="background-image: url(/img/teatro5.jpg)">
            <div class="my-text">La panda de Yolanda</div>
        </div>
        <div class="info">
            <h2>Üiqü’is</h2>
            <p><span class="b">Edat</span> De 6 a 10 anys (1r i 2n cicle d’educació primària)</p>
            <p><span class="b">Idioma</span> Valencià</p>
            <p><span class="b">Durada</span>  55 minuts</p>
            <p><span class="b">Disciplina</span> Titelles planes.</p>
            <p><span class="b">Sinopsi</span> En el món Üiqü’is tot és possible: objectes que cobren vida, superherois de barri, xiquetes voladores i porcs tafaners. Tots aquests personatges i molts més ens transportaran a la nostra infantesa més gamberra i surrealista de la mà de La Panda de Yolanda, companyia formada per quatre actors de gran versatilitat, provinents del món del teatre, la dansa, els objectes i la música amb una llarga carrera professional com intèrprets.</p>
            <p><span class="b">Horario</span> Sábado 21 a las 19:00 h</p>
        </div>
    </div>
    <div class="content">
        <div class="image" style="background-image: url(/img/teatro3.jpg)">
            <div class="my-text">David Laín</div>
        </div>
        <div class="info">
            <h2>Escudella de poemes</h2>
            <p><span class="b">Edad</span>  A partir de 4 anys</p>
            <p><span class="b">Idioma</span> Valencià</p>
            <p><span class="b">Durada</span> 45 minuts</p>
            <p><span class="b">Disciplina</span>  Títeres de manipulación directa/p>
            <p><span class="b">Sinopsi</span> Amb les paraules de Miquel Desclot i amb els titelles de David Laín, cuinarem un plat de bon menjar i millor pair; un plat que ens obrirà la gana per tastar nous poemes de colors i sabors diferents. 
                Com un cuiner eficient i sempre amb la recepta a la ma, per no equivocar-me, us ofereixo una vintena de peces poètico-titellaires que a tothom faran passar una bona estona, tot apropant els versos de Desclot al públic familiar en biblioteques i altres espais d’aforament reduït.
                Les endevinalles, els personatges fantàstics, i les petites historietes amanides amb titelles són els ingredients d’aquesta suculenta: Escudella de poemes.Bon Profit!
                </p>
            <p><span class="b">Horario</span> Domigo 22 a las 12:30 h</p>
        </div>
    </div>

    <div class="content">
        <div class="image" style="background-image: url(/img/teatro1.jpg)">
            <div class="my-text">La Teta Calva</div>
        </div>
        <div class="info">
            <h2>L’or de Jeremies</h2>
            <p><span class="b">Edat</span> De 6 a 10 anys (1r i 2n cicle d’educació primària)</p>
            <p><span class="b">Idioma</span> Valencià</p>
            <p><span class="b">Durada</span>  55 minuts</p>
            <p><span class="b">Disciplina</span> Teatre textual,  música i titelles de manipulació directa.</p>
            <p class="sinopsi"><span class="b">Sinopsi</span> Jeremies vol trobar una mina d’or i per aconseguir-ho emprendrà un viatge a les llunyanes muntanyes i en un camí replet d’aventures trobarà el vertader tresor que caminava cercant, l’amistat. No hi ha res més valuós que açò. Una obra amb música en directe, amb humor i amb fustes que cobren vida i es converteixen en inseparables companys de viatge. Un arbre, un cavall, un tren que creua l’horitzó, un indi que parla amb els estels, un vell rondinaire i molts més personatges. Vaquers, titelles, guitarres, harmòniques i aventures que forgen la destinació. Què més es pot demanar per l’oest?</p>
            <p><span class="b">Horario</span> Domigo 22 a las 17:30 h</p>
        </div>
    </div>
    <div class="content">
        <div class="image" style="background-image: url(/img/teatro2.jpg)">
            <div class="my-text">Per poc</div>
        </div>
        <div class="info">
            <h2>Pedro y el lobo</h2>
            <p><span class="b">Edad</span>  De 6 a 10 anys</p>
            <p><span class="b">Idioma</span> Castellano</p>
            <p><span class="b">Durada</span> 50 minutos</p>
            <p><span class="b">Disciplina</span> Títeres de hilo</p>
            <p><span class="b">Sinopsi</span> El cuento sinfónico de Sergei Prokofiev donde cada personaje está representado por un instrumento y una melodía característica. Un espectáculo de marionetas de hilo donde los peronajes han sido diseñados por la ilustradora Roser Capdevila.
                Al principio del espectáculo, un actor presenta los personajes y el instrumento que los representará. Durante el cuento, las marionetas ilustran las acciones que narra el actor y describe la música.
                </p>
            <p><span class="b">Horario</span> Domigo 22 a las 19:00 h</p>
        </div>
    </div>
</div>