<!-- Componente FESTIVAL de la página FESTIVAL, aquí se encuentran todas la información del festival
de títeres incluida en la clase .description --> 

<!-- La clase .description contiene una clase .content que sería cada punto de información--> 
<div class="festival">
    <!-- La clase .content contiene una clase .image que sería la imagen que acompaña a la 
    información de ese punto concreto y la clase .info que sería la información de ese punto.
    La clase .content se repite hasta 3 veces porque son 3 puntos --> 
    <div class="content">
        <div class="info">
            <h2>¿Qué es TI-TA-TU?</h2>
            <p>TI-TA-TU nace de una iniciativa del Ayuntamiento de Valencia para promover y dinamizar
                el teatro de títeres en la ciudad. El evento va dirigido a un publico infantil y familiar, que este 
                dispuesto a interactuar en un ambiente mágico.
            </p>
        </div>
        <div class="image" style="background-image: url(/img/circense.png)">
        </div>
    </div>
    <div class="content odd">
        <div class="info">
            <h2>¿Habrá comida?</h2>
            <p>En el festival contará con FoodTrucks de varios comercios locales,
            de esta forma, se promocionará el producto local. Ah! No hace falta añadir que habrá un espacio de mesas y picnic, para
            que los padres puedan tomarse algo mientras sus hijos se divierten haciendo los maravillosos talleres de títeres.</p>
        </div>
        <div class="image" style="background-image: url(/img/frago.png)">
        </div>
    </div>
    <div class="content">
        <div class="info">
            <h2>¿Cómo llegar?</h2>
            <p>Para llegar a Jardines de Viveros se puede utilizar el transporte público de esta forma:</p>
            <p><span class="b">Autobús:</span> Líneas 4, 11, 29, 70, 106, 150, 161</p>
            <p><span class="b">Metro:</span> Líneas 2, 3 5, 7, 9</p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.50268873157
            35!2d-0.36989278475940884!3d39.48056227948488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
            1!3m3!1m2!1s0xd6048aeb574c4fd%3A0x4f9acd0c4bfef621!2s
            Jardines+del+Real+o+Viveros!5e0!3m2!1ses!2ses!4v1527614924749" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
     </div>
</div>