<div class="band">
    <div class="carousel" id="carousel">
         <img src="img/portada1.jpeg"/>
         <img src="img/portada2.jpeg"/>
         <img src="img/portada3.jpeg"/>
         <img src="img/portada4.jpeg"/>
    </div>
</div><div class="us">
    <div class="about-us">
        <h4>TI-TA-TÚ</h4>
        <p>Festival de Títeres Valencia.
        </p>
        <div class="work">
            <div class="item">
                <i class="material-icons">check_circle</i>
                <h1>Taller de mecánica</h1>
            </div>
            <div class="item">
                <i class="material-icons">check_circle</i>
                <h1>Taller de chapa, pintura y carrocería</h1>
            </div>
            <div class="item">
                <i class="material-icons">check_circle</i>
                <h1>Recambios y accesorios originales</h1>  
            </div>
        </div>
        <h4>Nuestro equipo</h4>
        <p>Un equipo de profesionales, con experiencia le asesorará en cada momento para solucionarle cualquier necesidad de su vehículo y con la atención que Vd. se merece.
        </p>
    </div>
</div>