<div id="up"><a href="#logo"><img src="img/up.svg" ></a></div>
<footer>
    <div class="web-footer">
        <div>
            <h3>Join us!</h3>
            <p><a target="_blank" href="https://www.facebook.com/Ti-Ta-Tu-1664424916967545/">
                <img src="img/facebook.png" width="40px" height="40px"/></a></p>
        </div>
        <div>
            <h3>Programación</a></h3>
            <p><a href="espectaculos.html">Espectáculos</a></p>
            <p><a href="talleres.html">Talleres</a></p>
        </div>
        <div>
            <h3><a href="entradas.html">Entradas</a></h3>
            <p>Comprar entradas</p>
        </div>
        <div>
            <h3><a href="contacto.html">Contacto</a></h3>
            <p>Dónde estamos</p>
            <p>Horario</p>
            <p>@ All rights reserved</p>
            <p></p>
        </div>
        <div>
            <img src="img/logo-footer.png" ></a>
        </div>
    </div>
</footer>
<div class="band">
    <p>2018 TTI-TA-TU</p>
</div>