<!-- Componente FOOTER de todas las páginas, contiene el logotipo y acceso directo
a las diferentes páginas webs--> 

<!-- Esto es para que cuando pulses la flechita, te vuelva a subir la pantalla
hasta arriba--> 
<div id="up"><a href="#logo"><img src="img/up.svg" ></a></div>
<footer>
    <div class="web-footer">
        <div>
            <h3>Join us!</h3>
            <div class="header-icons">
                <a target="_blank" href="https://www.instagram.com/ti.ta.tu/">
                    <img  src="img/logoinsta.png"/>
                </a>
                <a target="_blank" href="https://www.facebook.com/Ti-Ta-Tu-1664424916967545/">
                    <img  src="img/logofacebook.png"/>
                </a>
                <a target="_blank" href="https://www.facebook.com/Ti-Ta-Tu-1664424916967545/">
                    <img  src="img/logogmail.png"/>
                </a>
            </div>
        </div>
        <div>
            <h3>Programación</a></h3>
            <p><a href="espectaculos.html">Espectáculos</a></p>
            <p><a href="talleres.html">Talleres</a></p>
        </div>
        <div>
            <h3><a href="entradas.html">Entradas</a></h3>
            <p>Comprar entradas</p>
        </div>
        <div>
            <h3><a href="contacto.html">Contacto</a></h3>
            <p>ti-ta-tu@hotmail.com</p>
            <p>Tlf: 692 695 633</p>
            <p></p>
        </div>
        <div>
            <img src="img/logotipo-blanco.svg" id="logo"></a>
        </div>
    </div>
</footer>