<!-- Componente HEADER de todas las páginas--> 

<div class="header">
    <div class="header-icons">
       <!-- Para entrar en el Instagram del festival --> 
        <a target="_blank" href="https://www.instagram.com/ti.ta.tu/">
            <img  src="img/logoinsta.png"/>
        </a>
        <!-- Para entrar en el Facebook del festival --> 
        <a target="_blank" href="https://www.facebook.com/Ti-Ta-Tu-1664424916967545/">
            <img  src="img/logofacebook.png"/>
        </a>
        <!-- Para enviar un correo desde la web --> 
        <a href="mailto:ti-ta-tu@hotmail.com"> 
            <img  src="img/logogmail.png"/>
        </a>
        <!-- Logotipo de barra de menú para formato tablet y movil --> 
        <i id="menu-button" class="material-icons">menu</i>
    </div>
    <!-- Logotipo de principal de la web del festival --> 
    <img src="img/logotipo2.png" id="logo"/>
</div>
