<!-- Componente MENU de todas las páginas--> 

<!-- Creación de una lista con clase MENU para la barra de menú de la web --> 
<ul class="menu">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="festival.html">Festival</a></li>
    <li><a href="espectaculos.html">Espectaculos</a></li>
    <li><a href="talleres.html">Talleres</a></li>
    <li><a href="entradas.html">Entradas</a></li>
</ul>
<!-- Fondo semitransparente para cuando se pulsa la barra de menú de tablet y movil--> 
<div class="background"></div>