<div class="band">
    <div class="carousel" id="carousel">
         <img src="img/portada1.jpeg"/>
         <img src="img/portada2.jpeg"/>
         <img src="img/portada3.jpeg"/>
         <img src="img/portada4.jpeg"/>
    </div>
</div>
<div class="brands">
    <div class="title">
        <h1> FESTIVAL DE TITERES</h1>
    </div>
</div>
<div class="professionals">
    <div class="title">
        <h1> ESPECTACULOS Y TALLERES</h1>
    </div>
    <div class="info">
        <div class="text">
            <p>Un equipo de profesionales, con experiencia le asesorará en cada momento para solucionarle cualquier necesidad de su vehículo y con la atención que Vd. se merece.</p>
        </div>

    </div>
</div>

