<!-- Componente PRINCIPAL de la página INICIO, aquí se encuentran todos los talleres de títeres de 
    incluidas en la clase .talleres --> 

<!-- La clase .talleres contiene una clase .item que sería cada uno de los talleres--> 
<div class="talleres">
    <!-- La clase .item contiene una clase .img que sería la imagen del taller y la
    clase .description que sería la información del taller. La clase .item se repite hasta
    6 veces porque son 6 talleres de títeres --> 
    <a class="item">
        <div class="img">
            <!-- La clase .img contiene una clase .general y la clase .detail, esto es porque
            cuando el ratón pase por encima de la imagen .general, se mostrará la imgane .detail--> 
            <img class="general" src="img/taller1.jpg"/>
            <img class="detail" src="img/taller1.2.jpg"/>
        </div>
        <div class="description">
            <h4>TITER REDONDO</h4>
            <p>Construir una marioneta a partir de una bola de corcho para poder inventar historias con ella </p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/taller2.jpg"/>
            <img class="detail" src="img/taller2.2.jpg"/>
        </div>
        <div class="description">
            <h4>MARIONETAS DE DEDOS</h4>
            <p>Construir una o varias marionetas de dedo para formar una familia</p>  
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/taller3.jpg"/>
            <img class="detail" src="img/taller3.2.jpg"/>
        </div>
        <div class="description">
            <h4>MARIONETAS CON PALOS</h4>
            <p>Construir varios títeres para jugar con ellos </p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/taller4.jpg"/>
            <img class="detail" src="img/taller4.2.jpg"/>
        </div>
        <div class="description">
            <h4>MOVIL PARA TU CUARTO</h4>
            <p>Realizar un móvil para colgar en el cuarto.</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/taller5.jpg"/>
            <img class="detail" src="img/taller5.2.jpg"/>
        </div>
        <div class="description">
            <h4>A TODA MARIONETA</h4>
            <p>Probar todo tipo de marionetas para entender su funcionamiento y a la vez entretenerse y aprender. Además, se pueden crear historias con ellas.</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/taller6.jpg"/>
            <img class="detail" src="img/taller6.2.jpg"/>
        </div>
        <div class="description">
            <h4>JUEGO DE LAS SOMBRAS</h4>
            <p>Aprender a realizar formas con tus propias manos</p>
        </div>
    </a>
</div>