<div class="talleres">
    <a class="item">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <h4>TITER REDONDO</h4>
            <p>Construir una marioneta a partir de una bola de corcho para poder inventar historias con ella </p>
            <p class="price">Horario: 29,00 €</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <h4>MARIONETAS DE DEDOS</h4>
            <p>Construir una o varias marionetas de dedo para formar una familia</p>
            <p class="price">Horario: 29,00 €</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <h4>MARIONETAS CON PALOS DE HELADO</h4>
            <p>Construir varios títeres para jugar con ellos </p>
            <p class="price">Horario: 29,00 €</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <h4>CMOVIL PARA TU CUARTO</h4>
            <p>Realizar un móvil para colgar en el cuarto.</p>
            <p class="price">29,00 €</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <h4>A TODA MARIONETA</h4>
            <p>Probar todo tipo de marionetas para entender su funcionamiento y a la vez entretenerse y aprender. Además, se pueden crear historias con ellas.</p>
            <p class="price">29,00 €</p>
        </div>
    </a>
    <a class="item">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <h4>JUEGO DE LAS SOMBRAS</h4>
            <p>Aprender a realizar formas con tus propias manos</p>
            <p class="price">29,00 €</p>
        </div>
    </a>
</div>