.carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: black;

    & > img {
        position: absolute;
        visibility: hidden;
        width: 100%;
        min-width: 1200px;
        top: 0;
        right: 0;
        transition: transform 600ms ease-in-out;
    }

    & > .circles {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 10px;
        z-index: 2;

        & > span {
            margin: 10px;
            border: 2px solid white;
            border-radius: 50%;
            display: inline-block;
            width: 8px;
            height: 8px;
            cursor: pointer;

            &:hover, &.selected {
                background-color: white;
            }
        }
    }
}
