.entradas {
    font-size: 13px;
    max-width: 1550px;
    margin: 20px auto;
    padding: 8px;

    & > .type {
        margin: 20px auto;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > .description {
            width: 400px;
            margin-right: 70px;
            padding: 20px;

            & > h2{
                padding-bottom: 30px;
                font-weight: bolder;
                font-family: 'Oswald-Light';
            }

            & > p{
                line-height: 30px;
                font-size: 16px;
                color: rgb(150, 149, 149);
                font-family: 'Oswald-Light';
                padding-bottom: 10px;
            }

        }

        & > .botton{
            margin: 20px;
            & > .size {
                & > .sizes {
                    & > a {
                        display: inline-block;
                        padding: 15px 25px;
                        background-color: white;
                        color: black;
                        border: 1px solid grey;
                        text-transform: uppercase;
                        margin: 25px 5px;
                        font-size: 16px;
    
                        &:hover{
                            background-color:  rgb(212, 212, 212);
                        }
                    }
                }
            }
            .basket {
                display: flex;
                flex-direction: column;
                
                & > * {
                    flex-grow: 1;
                    box-sizing: border-box;
                    margin: 8px;
                }
        
                & > button, & > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    background-color: white;
                    border: 1px solid rgb(221, 69, 69);
                    padding: 20px 30px;
        
                    & > * {
                        padding: 0 8px;
                    }
                    &:hover {
                        background-color: rgb(221, 69, 69);
                        color: white;
                    }
                }
                & > .buy {
                    background-color: rgb(221, 69, 69);
                    color: white;
                    font-family: 'Oswald-Light';
                    font-size: 11px;
        
                    &:hover {
                        background-color: rgb(175, 44, 44);
                    }
                }
            }

        }
    }
 }