.entradas {
    font-size: 13px;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 8px;

    & > .type {
        margin: 20px auto;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid gray;;

        & > * {
            flex-grow: 1;
            padding: 20px;
        }

        & > .description {
            width: 400px;

            & > h2{
                padding-bottom: 30px;
                font-weight: bolder;
                font-family: 'Oswald-Light';

                .price {
                    float: right;
                }
            }
            & > p{
                line-height: 30px;
                font-size: 16px;
                color: rgb(150, 149, 149);
                font-family: 'Oswald-Light';
                padding-bottom: 10px;
            }
        }
        & > .buttons {
            display: flex;
            flex-direction: column;
            min-width: 300px;

            & > .quantity {
                display: flex;
                margin-bottom: 10px;

                & > button {
                    flex-grow: 1;
                    cursor: pointer;
                    display: inline-block;
                    padding: 15px 0;
                    background-color: white;
                    color: black;
                    border: 1px solid rgb(122, 122, 122);
                    text-transform: uppercase;
                    margin: 0 5px;
                    font-size: 16px;
                    transition: background-color 250ms ease-in-out;
                    text-align: center;

                    &:hover{
                        background-color:  rgb(212, 212, 212);
                    }
                }
            }
            & > .buy {
                background-color: rgb(216, 24, 30);
                color: white;
                font-family: 'Oswald-Light';
                font-size: 18px;
                border: none;
                padding: 15px;
                margin: 0 5px;
                transition: background-color 250ms ease-in-out;
                text-align: center;
                cursor: pointer;
    
                &:hover {
                    background-color: rgb(175, 44, 44);
                }
            }
        }
    }
 }