.header {
    background-color: rgb(255, 255, 255);
    padding: 2px;

    #logo {
        display: block;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        margin-bottom: 40px;
        box-sizing: border-box;
    }
    
    & > .header-icons {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 15px;

        & > * {
            vertical-align: middle;
            padding: 5px;
            transition: opacity 250ms ease-in-out;

            &:hover {
                opacity: .7;
            }
        }
        & > a {
            & > img {
                height: 35px;
                display: block;
                cursor: pointer;
            }
        }
    }

    @include if-mobile-tablet {
        & > .header-icons > a {
            display: none;
        }
    }
}