body {
    background: rgb(255, 255, 255);
    font-size: 12pt;
    font-family: 'Inconsolata', monospace;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font-family: inherit;
    font-size: inherit;
}
