/* Diseño del componente MENU mediante la clase .menu */

.menu {
    list-style-type: none; /*Quitar la decoracion que se pone por defecto en las listas (puntos)*/
    text-align: center;
    font-size: 15px;
    padding: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

    & > li {
        display: inline-block;
        background-color: white ;
        margin: 12px 10px;
        margin-bottom: 0px;

        & > a {
            color: grey;
            text-transform: uppercase; /* Texto en mayúsculas */
            width: 90px;
            padding: 10px;
            text-align: center;
            display: block;
            font-family: 'Oswald-Light';
            transition: border-color 200ms ease-out; /* Para que haya una transicion de un color a otro */
            letter-spacing: 1px;
            border-bottom: 2px solid transparent;

            &:active,
            &:hover,
            &:focus {
                font-weight: bolder;
                color: rgb(29, 29, 29);
                border-bottom-color: rgb(74, 188, 224);
            }
        }
    }
}

/* Icono menu en formato tablet y movil */
#menu-button {
    display: none;
    cursor: pointer;
    color: #009BDD;
    font-size: 30px;
}

/* Diseño del componente MENU en formato movil y tablet*/
@include if-mobile-tablet {
    #menu-button {
        display: initial;
    }
    .background {
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    .menu {
        position: fixed;
        z-index: 10;
        left: 0;
        width: 300px;
        top: 0;
        background-color: white;
        height: 100%;
        margin : 0;
        box-sizing: border-box;
        transform: translateX(-300px);
        transition: transform 200ms ease-in-out;

        &.shown {
            transform: translateX(0);
        }
        & > li {
            margin: 0;
            display: block;
            border-bottom: 1px solid #dbdbdb;
            box-shadow: none;

            &:first-child {
                border-top: 1px solid #dbdbdb;
            }
            &:active,
            &:hover,
            &:focus {
                background-color: #009BDD;
                color: white;
            }
            & > a {
                width: initial;
                padding: 35px 0;
            
                &:active,
                &:hover,
                &:focus {
                    font-weight: bolder;
                    color: rgb(255, 255, 255);
                    border-bottom-color: transparent;
                }
            }
        }
    }
}
