.talleres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    text-align: center;
    margin: 30px auto;
    
    & > .item {
        background-color: white;
        width: 100%;
        position: relative;
        margin: 8px;
        margin-bottom: 50px;

        & > .img {
            position: relative;
            width: 100%;
            display: block;

            & > img {
                width: 100%;
                transition: opacity 500ms ease-out 100ms;
            }
            & > .detail {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
            &:hover > .detail {
                opacity: 1;
            }
            &:hover > .general {
                opacity: 0;
            }
        }

        & > .description{
            padding: 15px;
            position: relative;

            & > h4 {
                color:#009BDD;
                font-family: 'Oswald-regular';
                text-transform: uppercase;
                padding-top: 17px;
                padding-bottom: 6px;
                font-size: 30px;
                letter-spacing: 1px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & > p {
                color: rgb(139, 139, 139);
                font-family: 'Oswald-Light';
                font-size: 18px;
                padding-top: 9px;
            }
        }
    }
    @include if-tablet {
        & > .item {
            width: calc(50% - 16px);
        }
    }
    @include if-desktop {
        & > .item {
            width: 400px;
        }
    }
}

